keys/playpen-740076-bdbf604b5ae4.json
keys/playpen-b460a8-06ddef3ed4e1.json
.terraform/providers/registry.terraform.io/hashicorp/google/6.8.0/windows_amd64/terraform-provider-google_v6.8.0_x5.exe
.terraform/